---
import GithubPath, { viewbox as githubViewbox } from './icons/GithubPath.astro';
import MwsPath, { viewbox as mwsViewbox } from './icons/MwsPath.astro';
import BlogPath, { viewbox as blogViewbox } from './icons/BlogPath.astro';
import WebsitePath, {
    viewbox as websiteViewbox,
} from './icons/WebsitePath.astro';
import ItchPath, { viewbox as itchViewbox } from './icons/ItchPath.astro';
import SteamPath, { viewbox as steamViewbox } from './icons/SteamPath.astro';

const TYPES = {
    github: {
        text: "GitHub",
        path: GithubPath,
        viewbox: githubViewbox,
    },
    modworkshop: {
        text: "ModWorkshop",
        path: MwsPath,
        viewbox: mwsViewbox,
    },
    blog: {
        text: "my blog",
        path: BlogPath,
        viewbox: blogViewbox,
        sameTab: true,
    },
    website: {
        text: "the web",
        path: WebsitePath,
        viewbox: websiteViewbox,
    },
    itch: {
        text: "itch.io",
        path: ItchPath,
        viewbox: itchViewbox,
    },
    steam: {
        text: "Steam",
        path: SteamPath,
        viewbox: steamViewbox
    }
};

export interface Props {
    title: string;
    type: keyof typeof TYPES;
    url: string;
    size?: number;
}

const { title, url, size, type } = Astro.props;
const iconSize = `${size ?? 32}px`;
const Icon = TYPES[type].path;
const viewbox = TYPES[type].viewbox;
const sameTab = 'sameTab' in TYPES[type];
---

<a
    href={url}
    target={sameTab ? undefined : '_blank'}
    rel={sameTab ? undefined : 'noopener'}
    aria-label={`"${title}" on ${type}`}
>
    <svg
        width={iconSize}
        height={iconSize}
        viewBox={viewbox}
        xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true"
    >
        <defs>
            <linearGradient id="gradient" x2="0" y2="1">
                <stop offset="0%" stop-color="var(--icon-highlight-top)"
                ></stop>
                <stop offset="100%" stop-color="var(--icon-highlight-bottom)"
                ></stop>
            </linearGradient>
        </defs>
        <Icon />
    </svg>
</a>

<style>
    a {
        position: relative;
        bottom: 6px;
        text-decoration: none;
    }
    a svg {
        fill: var(--icon-color);
    }
    a:is(:hover, a:active, a:focus) svg {
        fill: url(#gradient);
    }
</style>
