---
import Footer from '../components/Footer.astro';
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout
    title={`${frontmatter.title} | detta.dev`}
    description={frontmatter.description}
>
    <div class="blog-container">
        <div class="controls">
            <a href="/blog">&larr; Back to post archive</a>
            <label>
                Enable bigger font
                <input name="Enable bigger font" type="checkbox" />
            </label>
        </div>
        {
            frontmatter.released ? (
                <>
                    <header>
                        <h1>{frontmatter.title}</h1>
                        <p class="publish-date">
                            Published:{' '}
                            <time datetime={frontmatter.pubDate}>
                                {new Date(
                                    frontmatter.pubDate
                                ).toLocaleDateString('uk')}
                            </time>
                        </p>
                        <p class="description">
                            <i>{frontmatter.description}</i>
                        </p>
                        <ul class="tags">
                            {frontmatter.tags.map((tag: string) => (
                                <li class="tag">{tag}</li>
                            ))}
                        </ul>
                        <hr />
                    </header>
                    <main>
                        <slot />
                    </main>
                    <hr />
                    <a href="/blog">&larr; Back to post archive</a>
                </>
            ) : (
                <h1>This article isn't ready yet!</h1>
            )
        }
        <Footer />
    </div>
</Layout>

<style is:inline>
    .blog-container:has(input:checked) {
        font-size: 1.2em;
    }
    .blog-container {
        label {
            margin-left: auto;
        }
        .controls {
            display: flex;
        }
        h1 {
            margin-top: 0.5em;
        }
        p:has(img) {
            text-align: center;
        }
        img {
            max-width: 100%;
            height: auto;
        }
        .publish-date,
        .description {
            text-indent: inherit;
        }
        p {
            text-indent: 0.5em;
        }
        p:is(:has(img), :has(video)) {
            text-indent: 0;
        }
        p:is(:has(img), :has(video)) em {
            width: 100%;
            display: block;
            text-align: center;
            font-size: 0.9em;
            color: var(--footnote-color);
        }
        video {
            width: 100%;
        }
        .tags {
            padding: 0;
            margin: 0 0 4px 0;
        }
        .tag {
            margin-right: 1ch;
        }
        li {
            margin-bottom: 0.5em;
        }
        main {
            line-height: 1.4;
        }
    }
</style>
