---
import Footer from '../components/Footer.astro';
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout
    title={`${frontmatter.title} | detta.dev`}
    description={frontmatter.description}
>
    <div class="blog-container">
        <a href="/blog">&larr; Back to post archive</a>
        {
            frontmatter.released ? (
                <>
                    <header>
                        <h1>{frontmatter.title}</h1>
                        <p class="publish-date">
                            Published:{' '}
                            <time datetime={frontmatter.pubDate}>
                                {new Date(
                                    frontmatter.pubDate
                                ).toLocaleDateString('uk')}
                            </time>
                        </p>
                        <p class="description">
                            <i>{frontmatter.description}</i>
                        </p>
                        <ul>
                            {frontmatter.tags.map((tag: string) => (
                                <li class="tag">{tag}</li>
                            ))}
                        </ul>
                        <hr />
                    </header>
                    <main>
                        <slot />
                    </main>
                </>
            ) : (
                <h1>This article isn't ready yet!</h1>
            )
        }
        <Footer />
    </div>
</Layout>

<style is:global>
    h1 {
        margin-top: 0.5em;
    }
    .blog-container {
        font-size: 1.2em;
    }
    img {
        width: 100%;
    }
    .publish-date, .description {
        text-indent: inherit;
    }
    p {
        text-indent: 0.5em;
    }
    p:is(:has(img), :has(video)) em {
        width: 100%;
        display: block;
        text-align: center;
        font-size: 0.9em;
        color: var(--footnote-color);
    }
    video {
        width: 100%;
    }
    ul {
        padding: 0;
        margin: 0 0 4px 0;
    }
</style>
